<?xml version="1.0" encoding="utf-8"?>
<resources>
  <string name="appId">your-app-id-Android</string>
  <string name="consumerKey">your-consumer-key</string>
  <string name="consumerSecret">your-consumer-secret</string>
</resources>