{
  "appId": "your-app-name-Android",
  "requireMobageLogin": true,
  "socialConsumerCredentials":{
      "androidKey":"your-key",
      "androidSecret":"your-secret"
  },
  "socialServer":"app-sandbox.mobage.com"
}